.home-container {
  padding: 24px;
  height: 100vh;
  background-color: #f5f7fa;
}

.home-title {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #1e293b;
  margin: 0px;
}

.home-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 312px;
}

.find-books-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  color: #f8fafc;
  background-color: #0284c7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  width: 104px;
  height: 36px;
}
